@import '@/assets/styles/_global.scss';

.SelectRange {
  padding: 20px 20px;
  display: flex;
  position: absolute;
  right: 328px;
  bottom: -11px;
  box-shadow: $lightSnow-shadow;
  background-color: #ffffff;
  &:before {
    content: "";
    position: absolute;
    left: 100%;
    top: 26px;
    width: 0;
    height: 0;
    border-top: 9px solid transparent;
    border-left: 15px solid $mintCream;
    border-bottom: 9px solid transparent;
  }

  &-input {
    width: 100%;
    margin-right: 20px;
    outline: none;
    border: none;
    border-bottom: 1px solid $snow;
    &:focus {
      border-right: 1px solid $snow;
      border-bottom: 2px solid $blue;
    }
  }

  &-button {
    height: 30px;
    line-height: 30px;
    outline: none;
    border: none;
    padding: 0 10px;
    cursor: pointer;
    border-radius: 16px;
    background-color: $blue;
    color: $white;
    text-transform: uppercase;
    font-size: px-to-rem(12px);
    font-family: Roboto-Bold;
  }

  .ant-row .ant-form-item {
    margin-bottom: unset;
    width: 200px;
  }
  .ant-form-item {
    margin-bottom: unset;
  }

  .ant-form-item-control-input-content {
    display: flex;
  }
 }