@import '../../../assets/styles/global';

.ListElement{
  &-element {
    &.ant-dropdown-menu-item{
      line-height: 30px;
      width: 160px;
      font-family: Roboto-Regular;
      font-size: px-to-rem(13px);
      color: $dark;
    }
  }
}