@import "../../assets/styles/global";
.table-striped-rows tr:nth-child(2n) td {
    background-color: #f6f6f6;
}

.table-striped-rows thead {
    background-color: #f1f1f1;
}

.abc {
    margin-top: 16px;
}