.login-container {
    display: flex;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background: #12c2e9;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #beb6b8, #bba9c4, #afcad1);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #c5bebf, #b2aab8, #949fa1);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.login-title {
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
}