@import '../../../assets/styles/global';

.ant-dropdown {
  .HeaderDropdown {
    position: absolute;
    right: -56px;

    &-element {
      display: flex;
      align-content: center;
      padding: 10px 20px;

      &.ant-dropdown-menu-item > .anticon:first-child {
        font-size: px-to-rem(20px);
      }

      &-text {
        margin: 0px 0px 2px 7px;
        font-size: px-to-rem(13px);
        font-family: Roboto-Regular;
      }
    }
  }
}
