@import '../../../assets/styles/global';

.Header-add-notification {
  width: 360px !important;
  height: 100%;

  &.active {
    transform: translateX(100%);
  }

  .ant-drawer-content-wrapper {
    transform: translateX(0px) !important;

    .ant-drawer-body {
      padding: 0px;
      overflow-x: hidden;
      overflow-y: auto;

      .Notifications {
        width: 360px;
        height: 100%;

        &-container {
          height: 100%;
        }

        &-header {
          height: 60px;
          display: flex;
          align-items: center;
          outline: none;
          padding: 4px 8px 0px 8px;
          background-color: $LightGray;

          &.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
            background-color: $white;
          }

          .ant-menu-item-selected {
            color: $dark;
          }

          .anticon {
            font-size: px-to-rem(20px);
            color: $dark;
            cursor: pointer;

            &-arrow-right {
              padding: 0px 10px;

              &:hover{
                color: $gray;
              }
            }

            &-check {
              padding-left: 10px;

              &:hover{
                color: $gray;
              }
            }

            &-setting {
              padding-left: 20px;

              &:hover{
                color: $gray;
              }
            }
          }

          &-text {
            margin-right: 95px;
            font-size: px-to-rem(18px);
            font-family: Roboto-Bold;
            display: flex;
            justify-content: center;
            cursor: context-menu;

            p {
              margin: 0px;
              color: $dark;
            }
          }

          &-button {
            padding: 4px 0px;
          }
        }

        &-content {
          background-color: $LightGray;
          height: 100%;
          margin-top: 0px;
        }
      }
    }
  }
}
