.full-screen {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.anonymous-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
