// font
$base-font: 16px;

// breakpoints
$xxl: 1600px;
$xl: 1280px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$xs: 280px;

// animations
$fast-animation: all 0.1s ease;
$medium-animation: all 0.3s linear;
$slow-animation: all 0.5s ease;
$slowest-animation: all 1s ease;

// shadow
$shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.06);
$hard-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.16);
$light-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
$lightSnow-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 1px 6px rgba(0, 0, 0, 0.12);
