// /* SEGOEUI */
// @font-face {
//   font-family: SegoeUI-Bold;
//   src: url('../fonts/SegoeUI/SegoeUI-Bold.ttf') format('truetype');
// }
// @font-face {
//   font-family: SegoeUI-BoldItalic;
//   src: url('../fonts/SegoeUI/SegoeUI-BoldItalic.ttf') format('truetype');
// }
// @font-face {
//   font-family: SegoeUI-Italic;
//   src: url('../fonts/SegoeUI/SegoeUI-Italic.ttf') format('truetype');
// }
// @font-face {
//   font-family: SegoeUI-Regular;
//   src: url('../fonts/SegoeUI/SegoeUI-Regular.ttf') format('truetype');
// }
// @font-face {
//   font-family: SegoeUI-SemiBold;
//   src: url('../fonts/SegoeUI/SegoeUI-SemiBold.ttf') format('truetype');
// }
// /* END SEGOEUI */
// /* ROBOTO */
// @font-face {
//   font-family: Roboto-Bold;
//   src: url('../fonts/Roboto/Roboto-Bold.ttf') format('truetype');
// }
// @font-face {
//   font-family: Roboto-BoldItalic;
//   src: url('../fonts/Roboto/Roboto-BoldItalic.ttf') format('truetype');
// }
// @font-face {
//   font-family: Roboto-Italic;
//   src: url('../fonts/Roboto/Roboto-Italic.ttf') format('truetype');
// }
// @font-face {
//   font-family: Roboto-Regular;
//   src: url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
// }
// /* END ROBOTO */