@import "~antd/dist/antd.css";
@import "./constants";
@import "./fonts";
@import "./colors";
@import "./variables";
@import "./pluggin/react-toastify";
// @import "bootstrap/dist/css/bootstrap.min.css";
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body,
#root {
    position: relative;
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: $base-font;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#root>div {
    height: 100%;
}

.container {
    width: calc(100% - 32px);
    margin: auto;
    @media screen and (min-width: $sm) {
        width: 540px;
    }
    @media screen and (min-width: $md) {
        width: 720px;
    }
    @media screen and (min-width: $lg) {
        width: 960px;
    }
    @media screen and (min-width: $xl) {
        width: 1140px;
    }
    @media screen and (min-width: $xxl) {
        width: 1520px;
    }
}

.page-title-container {
    background-color: #fff;
    padding: 8px 16px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 5px;
    & .title {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        span {
            color: #1890ff;
        }
    }
}

@function px-to-rem($px) {
    $result: $px / $base-font;
    @return #{$result + "rem"};
}