@import '../../assets/styles/global';
.avatar-options {
    background-color: '#fde3cf';
    color: '#f56a00';
    transition: 0.2s ease;
    cursor: pointer;
    &:hover {
        transform: scale(1.1);
    }
}

// .ant-popover-inner-content {
//     padding: 0;
// }
.user-options-container {
    padding: 0;
    & .user-option {
        padding: 4px 16px;
        cursor: pointer;
        &:hover {
            color: #fff;
            background-color: #001529;
            transition: 0.5s;
        }
        span {
            font-size: 14px;
            line-height: 20px;
        }
        &:not(:last-child) {
            border-bottom: 1px solid #d9d9d9;
        }
    }
}