@import "../../assets/styles/global";
.sider-container {
    position: relative;
    @media (max-width: 991px) {
        position: absolute;
        top: 0;
        min-height: 100vh;
        z-index: 1000;
    }
}

.logo {
    padding: 16px;
    height: 48px;
    width: 100%;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 18px;
}