@import '../../../assets/styles/global';

.ant-dropdown {
  &.ant-dropdown-placement-topLeft {
    left: 20px !important;
    width: 140px;

    .SidebarDropdown {
      width: 140px;
      font-size: px-to-rem(13px);
      font-family: Roboto-Regular;
    }
  }
}
